.message__container{
  height: auto;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  min-height: 20px;
  max-width: 256px;
  border-radius: 15px;
  background-color: rgb(235, 235, 235); 
  padding: 8px 12px; 
  box-shadow: inset 0px -1px 0px rgba(32, 31, 30, 0.12);

  margin-left: 8px;
  margin-top: 8px;
}

.message__container_my{
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  min-height: 20px;
  max-width: 256px;
  border-radius: 15px;
  background-color: #95ee99; 
  padding: 8px 12px; 
  box-shadow: inset 0px -1px 0px rgba(32, 31, 30, 0.12);

  margin-right: 8px;
  margin-top: 8px;
}

.message__text{
  margin-top: 6px;
  width: 100%;
  word-wrap: break-word;
}

.message__date{
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}